@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$highlight: #FDEE00;
$dark: #101010;
$grey: #333333;
$light: #FFFFFF;

:root {
  font-family: Inter, system-ui, Helvetica, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* color-scheme: light dark; */
  color: $light;
  background-color: $dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.view {
  height: 100vh;
  margin: 0 20vw;
}

.title {
  font-family: inherit;
  font-size: 8rem;
}

// Animated underline transition for links
a {
  font-weight: 600;
  position: relative;
  color: $highlight;
  text-decoration: inherit;
}

a:hover {
  color: $highlight;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $highlight;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: $dark;
  background-color: rgba($light, 0.9);
  cursor: pointer;
  transition: border-color 0.25s;
}

button.primary {
  color: $dark;
  background-color: $highlight;
}

button:hover {
  transition: background-color 0.15s ease;
  background-color: rgba($light, 0.6);
}
// button:focus,
// button:focus-visible {
//   outline: 4px auto $highlight;
// }

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */