// Inter font family via Google Fonts API endpoint.
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    // Variable font configuration.
    font-family: "Inter", "Helvetica", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;

    line-height: 1.5;
}

* {
    margin: 0;
}

html,
body {
    min-height: 100%;
}

body {
    margin-top: 25vh;
    margin-inline: calc(25vw/2);
    display: grid;
    grid-template-columns: 40% 60%;
}

.left {
    min-height: 100%;
    display: grid;
    align-items: center;
    // position: absolute;
}

.branding {
    vertical-align: baseline;
}

.logo {
    width: 5vw;
    opacity: 0.5;
}

.toc-item {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
}

.toc-decoration {
    height: 1em;
}

.toc-link {
    font-weight: 400;
    font-style: italic;
}

.social-links {
    display: flex;
    flex-direction: column;
}

// .card {
//     display: flex;
//     flex-direction: row;
//     align-items: center;

//     padding: 2vh; // Height then width

//     background: rgba(255, 255, 255, 0.2);
//     border-radius: 16px;
//     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//     backdrop-filter: blur(5px);
//     -webkit-backdrop-filter: blur(5px);
// }

// .card-thumbnail img {
//     width: 100%;
//     height: 100%;
//     object-fit: contain;
// }

.card {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-title card-thumbnail"
      "card-subtitle card-thumbnail"
      "card-description card-thumbnail";
      align-items: start;
  }
  
  .card-title { grid-area: card-title;}
  
  .card-subtitle { grid-area: card-subtitle; }
  
  .card-description { grid-area: card-description; }
  
  .card-thumbnail { grid-area: card-thumbnail; }
  